<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

 <div class="bg">
   <div class="overlay">
    <div class="searcharea">
      <div id="form">
        <form action="/submit" method="GET"  >
        <input type="text" name="city"  placeholder="Enter City Name">
        <button type="submit">
         <i class="ri-search-line"></i>
        </button>
      </form>
      </div>
      <h4>Weather Details</h4>
      <div class="details">
        <ul>
          <li>Description</li>
          <li>Max Temp</li>
          <li>Min Temp</li>
        </ul>
       
        <ul>
          
          <li>Sunny</li>
          <li>35</li>
          <li>25</li>
        </ul>
    
      </div>
      
     
      
     </div>
     <nav>
       <h3>Weather APP 
         <span><i class="ri-cloud-line"></i></span>
       </h3>
     </nav>
     <div id="content">
      <% if(data){ %>
       <h1><%= data.main.temp %> <span>&#176;</span> </h1> 
       <h2> <%= data.name %> </h2>
       <% } %> 
     
      
       
       
      
      
     </div>
    
   </div>
 
 </div>

</body>
</html>